{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>IKG4CH</h1>
    <p class="lead">This application supports narratives composition by leveraging LLODS: it retrieves interesting links to facilitate content ideation. </p>
    <p><a href="https://glottocrisio.github.io/bupbengoc/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Module 1</h2>
        <p>
            Data Harvesting. 
        </p>
        <p><a class="btn btn-default" href="https://sparql.europeana.eu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Module 2</h2>
        <p>Interestingness-based Knowledge Graph.</p>
        <p><a class="btn btn-default" href="http://www.kulttuurisampo.fi/ff.shtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Module 3</h2>
        <p>Linking GLAMs.</p>
        <p><a class="btn btn-default" href="https://lod-lam.net/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
